@using NationalParkGeeks.Models;
@model List<Park>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (Park park in Model)
{
    <div class="contentContainer">
        <div class="parkImage">
            @{
                var TempParkCode = park.ParkCode.ToLower();
                TempParkCode += ".jpg";
                
            <a href='@Url.Action("Index", "ParkDetail", new { @park.ParkCode },null)'>
                <img src='@Url.Content("~/images/parks/"+@TempParkCode)' />
            </a>
            }
        </div>

        <div class="parkInfo">
            <h2>@Html.ActionLink(@park.ParkName, "Index", "ParkDetail", new { @park.ParkCode }, null)</h2>
            
            <p>@park.ParkDescription</p>
        </div>
    </div>
}
